body{
    background-color:#F1F3F3;
    min-width:100%;
    min-height: 100%
}

#kotak{
  
}
   
#foto{
    width: 60%;
    box-shadow: 0px 4px 4px #3A3F58;
}   
#logo{
    position: absolute;
    top:0;
    left: 50;
}

.menubar{
    font-family: Saira;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

#helo{
    
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    color: #3A3F58;
    font-size: 2em;
}
#nama{
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    color: #3A3F58;
    font-size: 3em;
}
#buttonnih{
    color:white;
    background-color: #3A3F58;
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width:280px;
    border-radius: 25px;
    
}

#hellooo{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    
}
#tome{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    
}
.deskripsii{
    top: 200px;
}
.socmedd{
    align-self:center; 
}
#wa{
    position: absolute;
    top:220px;
    left: 400px;
    width: 80px;

}
#nohp{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;

}
#logoemail{
    position: absolute;
    top:300px;
    left: 350px;
    width: 80px;

}
#email{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
}
#findme{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    
}
.socmedlain{
    position: fixed;
    justify-content: center;
    word-spacing: 50px;
    background-color: #F79741;
    width: 100%;
    display: flex;
    bottom:50px;
   
}
.logomedsos{
   
    width: 50px;
}
#logoig{
    width: 45px;
}
.kotak{
    bottom: 0px;
}

#fotolagi{
    width: 30%;
   
}
#aboutme{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: bold;
    color: #3A3F58;
}
#education{
    top: 50cm;
    left: 0;
    width: 380px;

}
#skill{
    top: -10px;
    width: 400px;
    
}
#experience{
    width: 380px;
    
}
.kotakskill{
    top: 250px;
}
.kotakkotak{
    padding: 0px;
    top: 190px;
}
#foto1{
    width: 90%;
}
#foto2{
    width: 90%;
}
#foto3{
    width: 100%;
}
.kotakfotofoto{
    top: 100px;
}
.tulisan{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    
    
}
#tulisanedu{
    margin-left: 30%;
}
#tulisanskill{
    margin-left: 40%;
}
#tulisanexp{
    margin-left: 28%;
}
.tulisandalam{
    margin-top: -20%;
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;

}

#Board1{
    background-color: #F79741;
}
#Board2{
    background-color: #EE6A59;
}
#Board3{
    background-color:#A3ABD0;
}