<html lang="en">
  {%load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Astrid Chaerida</title>
    <link rel="stylesheet" href = "{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>

      <nav class="navbar navbar-expand-sm navbar-light">

          <!-- Brand/logo -->
          <a class="navbar-brand" href=".">
            <img src="{% static 'Logo.png' %}" alt="logo" style="width:40px;">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Links -->
          <div class="collapse navbar-collapse " id="collapsibleNavbar">
              <ul class="navbar-nav menubar">
                  <li class="nav-item">
                    <a style="color: #3A3F58;"class="nav-link p-2" href=".">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a style="color: rgb(147, 159, 221);"class="nav-link disabled p-2" aria-disabled="true" href="about">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a style="color: #3A3F58;"class="nav-link p-2" href="gallery">GALLERY</a>
                  </li>
                  <li class="nav-item">
                    <a style="color: #3A3F58;"class="nav-link p-2" href="schedule">SCHEDULE</a>
                  </li>
                  <li class="nav-item">
                    <a style="color: #3A3F58;"class="nav-link disabled p-2" href="contact">CONTACT</a>
                  </li>
                </ul>
          </div>
          
          
         
        </nav>
        <div class="container text-center">
            <div class="row "></div>
                   <img id="fotolagi" style="margin-top:-10%;"class="img-fluid" src="{% static 'profile.png' %}">
        </div>
            
            <div class="row tulisandalam" style="margin-top:25%;">
               
                    <h2 id="tulisanedu text-center" class="pr-0" >EDUCATION</h2>
                    <h4 id="tulisandalam text-center" class="project">Faculty of Computer Science<br>
                                                              Class of 2018<br><br>
                        SMAN 3 Depok<br>
                                                                  2015-2018 <br>
                          </h4>
            </div>
            <div class="row" style="margin-left:1%;" id="Board2">
                    <h2 id="tulisanskill text-center" style="">SKILL</h2>
                    <h4 id="tulisandalam text-center" >Basic Programming<br>
                        (Java & Python) <br><br>
                        Microsoft Office<br><br>
                        Communication Skill<br><br>
                        HTML & CSS<br></h4>
    
            </div>
            
            <div class="row tulisandalam"style="margin-left:0%;" id="Board3">
                  <h2 id="tulisanexp text-center">EXPERIENCE</h2>
                    <h4 id="Experience1 " class="text-center">Secretary OH Fasilkom UI<br>
                                                                        2019 <br><br>
                        Staff of Secretary COMPFEST<br>
                                              2019 <br><br>
    
                        Staff of Jobfair EDUCARE <br>
                                            2019 <br>
                    </h4>
              </div>
            </div>
            
    
  
        
    

           
</body>

