<html lang="en">
    {%load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Astrid Chaerida</title>
    <link rel="stylesheet" href = "{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
    
</head>
<body> 
    
    <nav class="navbar navbar-expand-sm navbar-light">

      <!-- Brand/logo -->
      <a class="navbar-brand" href=".">
        <img src="{% static 'Logo.png' %}" alt="logo" style="width:40px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse " id="collapsibleNavbar">
          <ul class="navbar-nav justify-content-end menubar">
              <li class="nav-item">
                <a style="color: #3A3F58;"class="nav-link p-2" href=".">HOME</a>
              </li>
              <li class="nav-item">
                <a style="color: #3A3F58;"class="nav-link p-2" href="about">ABOUT</a>
              </li>
              <li class="nav-item">
                <a style="color: #3A3F58;"class="nav-link p-2" href="gallery">GALLERY</a>
              </li>
              <li class="nav-item">
                <a style="color: #3A3F58;"class="nav-link p-2" href="schedule">SCHEDULE</a>
              </li>
              <li class="nav-item">
                <a style="color:rgb(147, 159, 221);"class="nav-link disabled p-2" aria-disabled="true" href="contact">CONTACT</a>
              </li>
            </ul>
      </div>
     
    </nav>
   
      <div class="container text-center pt-5">
        <h1 id="hellooo">SAY HELLO</h1>
        <h3 id="tome">to me</h3>
          <div class="">
            <div class="container pt-4">
                <p id="nohp" style="font-size: 2em"><i class="fas fa-phone-square"></i> 081270937798</p>
            </div>
            <div class="container pb-5">
              <p id ="email" style="font-size: 2em"><i class='fas fa-mail-bulk'></i> astrid.chaerida@ui.id</p>
            </div>
            <div class="container pt-7">
              <h4 id ="findme">and you can find me at</h4>
            </div>
          </div>
                    
      </div>
   
    
        <div class="socmedlain">
            <a class="p-2" href="https://twitter.com/astridchrd"><img id="logotwitter" class="logomedsos"src="{% static 'twitter.png' %}"> </a>
            <a class="p-2" href="https://www.linkedin.com/in/astrid-chaerida-728039177/"><img id="logolinked" class="logomedsos" src="{% static 'logo linked.png' %}" ></a>
            <a class="p-2" href="https://www.instagram.com/astridchrd/"><img id="logoig"class="logomedsos" src="{% static 'ig.png' %}"></a>
          </div>
   
        
          
    </div>



</body>
