<html lang="en">
    {%load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Astrid Chaerida</title>
    <link rel="stylesheet" href = "{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body> 
    
        <nav class="navbar navbar-expand-sm navbar-light">

            <!-- Brand/logo -->
            <a class="navbar-brand" href=".">
              <img src="{% static 'Logo.png' %}" alt="logo" style="width:40px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
      <!-- Links -->
            <div class="collapse navbar-collapse " id="collapsibleNavbar">
                <ul class="navbar-nav menubar">
                    <li class="nav-item">
                      <a style="color: #3A3F58;"class="nav-link p-2" href=".">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a style="color: #3A3F58;"class="nav-link p-2" href="about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                      <a style="color: rgb(147, 159, 221);"class="nav-link disabled p-2" aria-disabled="true"href="gallery">GALLERY</a>
                    </li>
                    <li class="nav-item">
                      <a style="color: #3A3F58;"class="nav-link p-2" href="schedule">SCHEDULE</a>
                    </li>
                    <li class="nav-item">
                      <a style="color:#3A3F58;"class="nav-link  p-2"  href="contact">CONTACT</a>
                    </li>
                  </ul>
            </div>
             
    </nav>
    
      <div class="container">
        <div class="row pt-5">
            <div class="col-sm-4  p-3">
              <img class="img-thumbnail img-fluid"  src="{% static 'anggun.jpg' %}">
            </div>
            <div class="col-sm-4 p-3">
              <img class="img-thumbnail img-fluid"  src="{% static 'masterpiece.jpg' %}">
            </div>
            <div class="col-sm-4 p-3">
              <img class="img-thumbnail img-fluid"  src="{% static 'mc.jpg' %}">
            </div>
        </div>
    </div>
    
</body>
</html>