
<html lang="en">
{%load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Astrid Chaerida</title>
    <link rel="stylesheet" href = "{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>

      <nav class="navbar navbar-expand-sm navbar-light">

          <!-- Brand/logo -->
          <a class="navbar-brand" href=".">
            <img src="{% static 'Logo.png' %}" alt="logo" style="width:40px;">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Links -->
          <div class="collapse navbar-collapse " id="collapsibleNavbar">
              <ul class="navbar-nav menubar">
                  <li class="nav-item">
                    <a style="color: #3A3F58;"class="nav-link p-2" href="{% url 'index' %}">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a style="color: #3A3F58;"class="nav-link disabled p-2" aria-disabled="true" href="{% url 'about' %}">ABOUT</a>
                  </li>
                  <li class="nav-item">
                    <a style="color: #3A3F58;"class="nav-link p-2" href="{% url 'gallery' %}">GALLERY</a>
                  </li>
                  <li class="nav-item">
                    <a style="color: rgb(147, 159, 221);"class="nav-link p-2">SCHEDULE</a>
                  </li>
                  <li class="nav-item">
                    <a style="color: #3A3F58;"class="nav-link disabled p-2" href="{% url 'contact' %}">CONTACT</a>
                  </li>
                </ul>
          </div>
          
          
         
        </nav>
      <div class="container" style="font-family: 'monospace', cursive;">
        <hr style="margin-top: 6%;" />
        <p>MY SCHEDULE</p>
        <hr />
        <a href="{% url 'schedule' %}"></a>
        <div class="row">
          {% for schedule in schedules %}
          <div class="col-sm-4 text-center">
            <h2>{{ schedule.date }}</h2>
            <p>{{ schedule.time }}</p>
            <p>{{ schedule.category }}</p>
            <p>{{ schedule.name }}</p>
            <p>{{ schedule.place }}</p>
            <a
          class="btn"
          href="#"
          role="button"
          style="margin-top: 2%; background: #EE6A59; color: white;"
          action = 'post'>Delete</a>
          </div>
          {% endfor %}
        </div>
        <a
        class="btn"
        href="{% url 'schedule_create' %}"
        role="button"
        style="margin-top: 2%; background:rgb(51, 102, 150); color: white;"
        >Create Schedule</a>
        <a
        class="btn"
        href="{% url 'deleteall' %}"
        role="button"
        style="margin-top: 2%; background:rgb(51, 102, 150); color: white;"
        >Delete Schedule</a>
        
      </div>
    </body>
  </html>
</html>
